@font-face {
  font-family: 'Titling Gothic FB Narrow Medium';  /* Your custom font name */
  src: url('../Titling\ Gothic\ FB\ Narrow\ Medium.otf') format('opentype');  /* Path to your .otf file */
  font-weight: normal;  /* You can set to normal, bold, etc. */
  font-style: normal;   /* You can set to normal, italic, etc. */
}
@font-face {
  font-family: 'Titling Gothic FB Narrow Standard';  /* Your custom font name */
  src: url('../Titling\ Gothic\ FB\ Narrow\ Standard.otf') format('opentype');  /* Path to your .otf file */
  font-weight: normal;  /* You can set to normal, bold, etc. */
  font-style: normal;   /* You can set to normal, italic, etc. */
}
* {
  font-family: 'Titling Gothic FB Narrow Standard', sans-serif; /* Use your custom font with fallbacks */
  font-size: 1rem;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background-color: #ffffff;
}


.topsection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

h2 {
margin-bottom: .625rem;
}

/* General calendar container */
.calendar-container {
  padding: 20px;
  background-color: #ffffff;
  border: #000000 solid .0625rem;
  border-radius: 6px;
  margin-bottom: .625rem;
}

/* Month and Year display */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-selection {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
  background-color: #F093B8;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
}

#disabled {
  pointer-events: none;
}

#month-year {
  font-size: 1rem;
  text-align: center;
}

/* Grid structure for the days */
.dates-grid {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap ;
  justify-content: space-between;
}

.dates-grid div {
  margin-top: .3125rem;
}

.days-grid {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 20px;
}

.day {
    width: 13.285%;
    text-align: center;
}

/* Each date (number) in the calendar */
.dates-grid div {
    width: 13.285%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

/* Disabled dates for previous or next month */
.dates-grid .disabled {
  color: #ccc;
}

/* Highlight the current day */
.dates-grid .selected {
  border: 2px solid #000000;
}


/* Colour the legenda */

.colour-meaning {
  display: flex;
  justify-content: space-between;
}

.colourblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .625rem;
}

.colour {
  border-radius: 6px;
  width: 25px;
  height: 25px;
}

#green {
  background-color: #008663;
}
#yellow {
  background-color: #F7C53A;
}
#red {
  background-color: #E54F37;
}



/* SIZING FOR DESKTOP */
@media only screen and (min-width: 800px) {
  .calendar-container {
    width: 49vw;
    margin-bottom: 0rem;
  }
  .topsection {
    flex-direction: row;
  }
  .block {
    margin-top: 0px !important;
    width: 49vw;
  }

  .rightsection-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}








/* START OF BACKBUTTON */
.backbutton {
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none; 
  color: #000000;
  background-color: #F093B8;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}












/* START OF MAKING THE TIME SELECTION */
#ableToPress {
  cursor: pointer;
}

.block {
  display: flex;
  justify-content: space-around;
  border: #000000 .0625rem solid;
  background-color: #ffffff;
  border-radius: 6px;
}

#timeselection {
  height: 7.5rem;
  align-items: center;
}

.blockselection {
  width: 33.333333%;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Add borders between morning, afternoon, and whole day */
.block p {
  text-align: center;
  margin: .3125rem 0 .3125rem 0;
}

/* Add vertical line between morning and afternoon */
.morning {
  border-right: 1px solid #000000;
}

/* Add vertical line between afternoon and whole day */
.afternoon {
  border-right: 1px solid #000000;
}


.daypart {
  color: #008663;
}

.unavailable {
  color: #ccc;
  pointer-events: none !important;
}

.clickableTime {
  cursor: pointer;
}

#pressedleft {
  border: 2px solid #000000;
  border-radius: 6px 0px 0px 6px;
}
#pressedmiddle {
  border: 2px solid #000000;
  border-radius: 0px;
}
#pressedright {
  border: 2px solid #000000;
  border-radius: 0px 6px 6px 0px;
}


/* START OF PLACESELECTION */
.one, .two, .three, .four {
  border-right: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.five {
  cursor: pointer;
}

#placeselection {
  height: 5rem;
  align-items: center;
}



/* START OF TOTALS SECTION */
#totals {
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.totals-subblock {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
#selected-date-text, #selected-time-text {
  text-align: right;
}

/* Payment button */
.payment-button {
  margin-top: .625rem;
  width: 100%;
}

.payment-button.unavailable {
  background-color: gray !important;
}
.payment-button button {
  background-color: transparent;
}